Flask
gunicorn
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
pandas
scikit-learn
threadpoolctl
Werkzeug
requests
joblib
jsonify
keras==2.9.0
nltk==3.7
sklearn
tensorflow-cpu
